---
import HeaderButton from "./HeaderButton.astro";
console.log("hola");
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
            Spacex lunches 🎈
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            toda la informacion sobre xpacex lunches
        </p>
    </div>

    <nav
        class="flex flex-col items-center justify-between w-full text-center md:flex-row"
    >
        <HeaderButton class="text-white" href="/">
            <svg
                slot="after"
                class="icon icon-tabler icon-tabler-jetpack"
                width="44"
                height="44"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#2c3e50"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10 6a3 3 0 1 0 -6 0v7h6v-7z"></path>
                <path d="M14 13h6v-7a3 3 0 0 0 -6 0v7z"></path>
                <path d="M5 16c0 2.333 .667 4 2 5c1.333 -1 2 -2.667 2 -5"
                ></path>
                <path d="M15 16c0 2.333 .667 4 2 5c1.333 -1 2 -2.667 2 -5"
                ></path>
                <path d="M10 8h4"></path>
                <path d="M10 11h4"></path>
            </svg>Ultimos Lanzamientos
        </HeaderButton>
        <HeaderButton class="text-white" href="/oldes">
            <svg
                slot="after"
                class="icon icon-tabler icon-tabler-info-hexagon"
                width="44"
                height="44"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#2c3e50"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                    d="M19.875 6.27c.7 .398 1.13 1.143 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"
                ></path>
                <path d="M12 9h.01"></path>
                <path d="M11 12h1v4h1"></path>
            </svg>
             Sobre Proyectos
        </HeaderButton>
        <HeaderButton class="text-white" href="/oldes">
            <svg
                slot="after"
                class="icon icon-tabler icon-tabler-briefcase"
                width="44"
                height="44"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#2c3e50"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                    d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
                ></path>
                <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path>
                <path d="M12 12l0 .01"></path>
                <path d="M3 13a20 20 0 0 0 18 0"></path>
            </svg>
             Los mas viejos
        </HeaderButton>
    </nav>
</header>
