---
import Header from "../components/Header.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-900 min-h-screen pb-32">
		<Header />
		<main class="max-w-5xl px-4 m-auto">
			<slot />
		</main>
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		color-scheme: dark light;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	ul li {
		margin-top: 20px; /* Espacio superior entre elementos */
		margin-bottom: 20px; /* Espacio inferior entre elementos */
		padding: 5px; /* Espacio interno entre el texto y el borde del elemento li */
	}

	ul li::before {
		content: "";
		position: absolute;
		height: 28px;
		width: 28px;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
		left: -25px;
	}

	ul li.checked::before {
		background-image: url(/checked.png);
	}

	ul li:not(.checked)::before {
		background-image: url(/unchecked.png);
	}

	ul li span {
		position: absolute;
		right: -20px;
		padding-top: 12px;
		top: 1px;
		text-align: center;
		width: 40px;
		height: 40px;
		color: #edeff4;
		font-weight: bold;
		font-size: 22px;
		color: #555;
		line-height: 40%;
		text-align: center;
		border-radius: 50%;
		background-color: #e55604;
	}

	ul li span:hover {
		background: #e55604;
	}
	ul li.close {
		position: absolute;

		top: 5px;
		width: 40px;
		height: 40px;
		font-weight: bold;
		font-size: 22px;
		color: #555;
		line-height: 10%;
		text-align: center;
		border-radius: 50%;
	}

	ul li.close:hover {
		background: #e55604;
	}
</style>
